     /* Selection colours (easy to forget) */

     ::selection {
         background: rgb(255, 255, 158);
     }

     ::-moz-selection {
         background: rgb(255, 255, 158);
     }

     img::selection {
         background: transparent;
     }

     img::-moz-selection {
         background: transparent;
     }

     body {
         -webkit-tap-highlight-color: rgb(255, 255, 158);
     }

     nav button {
         display: none;
     }

     /*		Default Layout: 992px. 
            Gutters: 24px.
            Outer margins: 48px.
            Leftover space for scrollbars @1024px: 32px.
    -------------------------------------------------------------------------------
    cols    1     2      3      4      5      6      7      8      9      10
    px      68    160    252    344    436    528    620    712    804    896    */

     /*		Tablet Layout: 768px.
            Gutters: 24px.
            Outer margins: 28px.
            Inherits styles from: Default Layout.
    -----------------------------------------------------------------
    cols    1     2      3      4      5      6      7      8
    px      68    160    252    344    436    528    620    712    */

     @media only screen and (min-width: 768px) and (max-width: 991px) {
         .banner {
             height: 80vh;
         }
         .third-width {
             width: 60%;
             margin: 20px 20px;
         }
         .projects {
             flex-direction: column;
         }
     }

     /*		Mobile Layout: 320px.
            Gutters: 24px.
            Outer margins: 34px.
            Inherits styles from: Default Layout.
    ---------------------------------------------
    cols    1     2      3
    px      68    160    252    */

     @media only screen and (max-width: 767px) {
         .banner {
             height: 80vh;
         }
         .project_text {
             margin: 60px 0;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
         }
         .project_text .right_justified {
             text-align: center;
             margin: 0 20px;
         }
         .project_text .left_justified {
             text-align: center;
             margin: 40px 20px;
         }
         .project_text .half-width {
             width: 50%;
         }
         .third-width {
             width: 60%;
             margin: 20px 20px;
         }
         .projects {
             flex-direction: column;
         }
         nav {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
        }
        nav ul {
            display: none;
        }
        nav ul.navactive {
            display: block;
        }
        nav ul.navactive li {
            float: none;
            border-right: none;
            border-bottom: 1px solid #333;
        }
        nav button {
            display: block;
        }
     }

     /*		Wide Mobile Layout: 480px.
            Gutters: 24px.
            Outer margins: 22px.
            Inherits styles from: Default Layout, Mobile Layout.
    ------------------------------------------------------------
    cols    1     2      3      4      5
    px      68    160    252    344    436    */

     @media only screen and (min-width: 480px) and (max-width: 767px) {
         .banner {
             height: 80vh;
         }
         .project_text {
             margin: 60px 0;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
         }
         .project_text .right_justified {
             text-align: center;
             margin: 0 20px;
         }
         .project_text .left_justified {
             text-align: center;
             margin: 40px 20px;
         }
         .project_text .half-width {
             width: 50%;
         }
         .third-width {
             width: 60%;
             margin: 20px 20px;
         }
         .projects {
             flex-direction: column;
         }
         nav {
             display: flex;
             justify-content: space-between;
             padding: 15px 0;
         }
         nav ul {
             display: none;
         }
         nav ul.navactive {
             display: block;
         }
         nav ul.navactive li {
             float: none;
             border-right: none;
             border-bottom: 1px solid #333;
         }
         nav button {
             display: block;
         }
     }

     /*	Retina media query.
        Overrides styles for devices with a 
        device-pixel-ratio of 2+, such as iPhone 4.
    -----------------------------------------------    */

     @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {}